{% extends 'base.html' %}


{% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/volt.css') }}"/>

{% endblock %}

{% block body %}
    <div class="row justify-content-center mt-4">
        <div class="col-12 col-xl-9">
            <div class="card shadow border-0 p-4 p-md-5 position-relative">
                <div class="d-flex align-items-center pb-md-5 mb-4 mb-md-5 border-bottom border-light">
                    <span class="px-2 fs-1 text-black fw-extrabold">Integra</span>
                    <span><img
                            class="image-md" src="{{ url_for('static',filename='images/Integration.svg') }}"
                            height="80"
                            width="80"
                            alt="Integra logo"></span>
                </div>
                <div class="mb-3 d-flex align-items-center justify-content-center"><h2 class="h2 mb-0">Nuevo
                    mensaje</h2></div>
                <div class="row justify-content-between mb-4 mb-md-5">
                    <div class="col-sm"><h5>Información del usuario:</h5>
                        <div>
                            <ul class="list-group simple-list">
                                <li class="list-group-item fw-normal">{{ name }}</li>
                                <li class="list-group-item fw-normal">{{ organization }}</li>
                                <li class="list-group-item fw-normal">{{ identifier }} {{ number }}</li>
                                <li class="list-group-item fw-normal"><a class="fw-bold text-primary"
                                                                         href="mailto:{{ mail }}?subject=Integra">{{ mail }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm col-lg-4">
                        <dl class="row text-sm-right">
                            <dt class="col-6"><strong>Generado en:</strong></dt>
                            <dd class="col-3 badge badge-inline bg-success">{{ type_contact }}</dd>
                            <dt class="col-6"><strong>Fecha:</strong></dt>
                            <dd class="col-6">{{ date }}</dd>
                            <dt class="col-6"><strong>Hora:</strong></dt>
                            <dd class="col-6">{{ hour }}</dd>
                        </dl>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 fw-extrabold">
                        <h5>Mensaje</h5>
                    </div>
                    <div class="col-12">
                        <div>
                            {{ message }}
                        </div>
                    </div>

                </div>
            </div>
            <p class="fs-6 text-center">Generado automáticamente por <a class="fw-extrabold"
                                                                        href="http://integra.fernandoleiton.com/">Integra</a>
            </p>
        </div>
    </div>
{% endblock %}