<footer class="bg-white rounded shadow mb-2 mt-2">
	<div class="row d-flex justify-content-center flex-wrap px-4 py-1">
		<div
			class="text-center col-3 col-lg-2 d-flex justify-content-around align-items-center px-0 py-2"
		>
			<img
				class="image image-sm"
				src="{{url_for('static',filename='/images/UTP-cropped.svg')}}"
				height="28"
				alt="Logo UTP."
			/>
		</div>
		<div
			class="text-center col-3 col-lg-2 d-flex justify-content-around align-items-center px-0 py-2"
		>
			<img
				class="image image-sm"
				src="{{url_for('static',filename='/images/Univalle.svg')}}"
				height="28"
				alt="Logo Univalle."
			/>
		</div>
		<div
			class="text-center col-6 col-lg-3 d-flex justify-content-around align-items-center px-0 py-2"
		>
			<img
				class="image image-sm"
				src="{{url_for('static',filename='/images/Minciencias.jpg')}}"
				height="28"
				alt="Logo MinCIENCIAS."
			/>
		</div>

		<div
			class="text-center col-4 col-lg-3 d-flex justify-content-around align-items-center px-2 px-lg-0 py-2"
		>
			<img
				class="image image-sm"
				src="{{url_for('static',filename='/images/genergetica.png')}}"
				height="14"
				alt="Logo Genergética."
			/>
		</div>
		<div
			class="text-center col-3 col-lg-2 d-flex justify-content-around align-items-center px-2 px-lg-0 py-2"
		>
			<img
				class="image image-sm"
				src="{{url_for('static',filename='/images/PSI.svg')}}"
				height="28"
				alt="Logo PSI."
			/>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-12 col-md-6 text-center align-items-center">
			<p class="mb-0 text-center">
				<small>© 2019- <span class="current-year"></span> </small
				><a class="text-primary fw-normal" href="https://themesberg.com" target="_blank"
					><small>Themesberg</small></a
				>
			</p>
		</div>
	</div>
</footer>
