<footer class="bg-white rounded shadow my-2">
    <div class="row d-flex justify-content-around px-4 py-3">
        <img
                class="image image-sm d-flex col-auto p-1"
                src="{{ url_for('static',filename='/images/UTP-cropped.svg') }}"
                height="28"
                alt="Logo UTP."
        />
        <img
                class="image image-sm d-flex col-auto p-1"
                src="{{ url_for('static',filename='/images/Univalle.svg') }}"
                height="28"
                alt="Logo Univalle."
        />
        <img
                class="image image-sm d-flex col-auto p-1"
                src="{{ url_for('static',filename='/images/Minciencias.webp') }}"
                height="28"
                alt="Logo MinCIENCIAS."
        />
        <img
                class="image image-sm d-flex col-auto p-1"
                src="{{ url_for('static',filename='/images/genergetica.webp') }}"
                height="28"
                alt="Logo Genergética."
        />
        <img
                class="image image-sm d-flex col-auto p-1"
                src="{{ url_for('static',filename='/images/PSI.svg') }}"
                height="28"
                alt="Logo PSI."
        />
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 text-center align-items-center">
            <p class="mb-0 text-center">
                <small>© 2019- <span class="current-year"></span> </small
                ><a class="text-primary fw-normal" href="https://themesberg.com" target="_blank"
            ><small>Themesberg</small></a
            >
            </p>
        </div>
    </div>
</footer>
