<nav class="navbar navbar-dark navbar-theme-primary navbar-expand-lg sticky-top px-4 col-12 d-lg-none">
  <a class="navbar-brand me-lg-5" href="{{url_for('index')}}">
      <span class="sidebar-icon">
        <img src="{{url_for('static',filename='images/LogoApp.png')}}" height="28" width="28" alt="Logo">
      </span>      
      <span class="mt-1 ms-1 sidebar-text fs-6 text-dark">Nombre Herramienta</span></a>
  </a>
  <div class="d-flex align-items-center">
    <button class="navbar-toggler d-lg-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

{% include 'module/sidebarmenu.html' %}