<nav class="navbar navbar-dark navbar-theme-primary navbar-expand-lg sticky-top px-4 col-12 d-lg-none">
  <a class="navbar-brand d-flex align-items-center" href="{{url_for('index')}}">
    <span class="sidebar-icon px-0">
      <img class="icon" src="{{url_for('static',filename='images/Inteegra_2.svg')}}" height="30" width="120"
        alt="Logo IntegraAPP ">
    </span>
    {#<span class="px-1 fs-4 text-black fw-extrabold">Integra</span>#}
  </a>
  <div class="d-flex align-items-center">
    <button class="navbar-toggler d-lg-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container-fluid m-auto pt-1 px-1">
      <div class="d-none d-md-flex justify-content-between w-100" id="navbarSupportedContent">
        <div class="media d-flex align-items-center">
          <img class="avatar rounded-circle" alt="Image placeholder" src="{{url_for('static',filename='images/user.jpg')}}">
          <div class="media-body ms-2 text-dark align-items-center d-none d-lg-block">
            <span class="mb-0 font-small fw-bold text-gray-900">Nombre Usuario</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

{% include 'module/sidebarmenu.html' %}