{% extends 'admin/master.html' %}
{% block head %}
    {{ super() }}
    <title> {% block title %} Inteegra | admin{% endblock %}</title>
{% endblock %}

{% block body %}
    <section class="vh-100 d-flex align-items-center justify-content-center">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center d-flex align-items-center justify-content-center">
                    <div><img class="img-fluid w-25" src="{{ url_for('static',filename='images/admin-image.svg') }}"
                              alt="404 not found">
                        <h1 class="mt-5">Página de <span class="fw-bolder text-primary">Administración</span></h1>
                        <a href="{{ url_for('home') }}"
                           class="btn btn-gray-800 d-inline-flex align-items-center justify-content-center mb-4">
                            <svg
                                    class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z"
                                      clip-rule="evenodd"></path>
                            </svg>
                            Regresar al inicio</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{#{% extends 'admin/base.html' %}


{% block brand %}
    <img class="icon p-0" src="{{ url_for('static',filename='images/Inteegra_2-min.svg') }}" height="30" width="120"
         alt="Logo Inteegra">
{% endblock %}

{% block access_control %}
    {% if current_user.is_authenticated %}
        <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="icon-user"></i> {{ current_user.login }} <span class="caret"></span>
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="btn" href="{{ url_for('home') }}">Log out</a>
            </div>
        </div>
    {% endif %}
{% endblock %}#}