<!DOCTYPE html>
<html lang="es">
  <head>
    {% block head %}
    <!-- Document meta -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Team Integra2023">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="IntegraAPP is a tool that allows managing energy efficiency indicators associated with the processes of generation, distribution and final use of electrical energy in Colombia">
    <meta name="keywords" content="Engineer, Efficiency, Electricity, Integra2023, Colombia">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="@materile_19" />
    <!-- Main stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/preloader.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/volt.css')}}">
    <!-- font awesome -->
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"  rel="preload" as="style" onload="this.rel = 'stylesheet'">
    <!-- Sweet Alert -->
    <link type="text/css" href="{{url_for('static',filename='vendor/sweetalert2/dist/sweetalert2.min.css')}}"
      rel="preload" as="style" onload="this.rel = 'stylesheet'">
    <!-- Notyf -->
    <link type="text/css" href="{{url_for('static',filename='vendor/notyf/notyf.min.css')}}" rel="preload" as="style" onload="this.rel = 'stylesheet'">

    <title>
      {% block title %} INTEGRA2023 |{% endblock %}
    </title>
    {% endblock %}
  </head>
  <body>
  {% block body %}
    {% block navbar %}

    {% endblock %}

    <!-- Handler for flask flash messages -->
    {% for message in get_flashed_messages() %}
    <div class="position-fixed top-0 end-0 p-3" style="z-index: 99999">
      <div id="liveToast" class="toast show" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="2000">
        <div class="toast-header">          
          <span class="dot rounded-circle bg-secondary me-2"></span>
          <strong class="me-auto">Mensaje</strong>
          <small>ahora</small>
        </div>
        <div class="toast-body">
          {{message}}
        </div>
      </div>
    </div>
    <script>
      function load() {
        setTimeout(function () {
          $('#liveToast').fadeOut('fast');
        }, 3000)
      };
      window.addEventListener("load", toastClose, true); function toastClose() {
        load();
      };
    </script>
    {% endfor %}

    {% block content %}
    <div class="preloader">
      <div class="loader">
        <div class="duo duo1">
          <div class="dott dott-a"></div>
          <div class="dott dott-b"></div>
        </div>
        <div class="duo duo2">
          <div class="dott dott-a"></div>
          <div class="dott dott-b"></div>
        </div>
      </div>
    </div>
    <!-- cookiieeeeeessss -->
    {% block cookies %}
    {% if False %}
    {% else %}
    <div class="fixed-bottom p-4" id="cookie-consent-container">
      <div class="toast bg-dark text-white w-100 mw-100" role="alert">
        <div class="toast-body p-4 d-flex flex-column">
          <h4>Cookie Warning</h4>
          <p>
            This website stores data such as cookies to enable site functionality including analytics and personalization.
            By using this website, you automatically accept that we use cookies.
          </p>
          <div class="ml-auto">
            <button type="button" class="btn btn-outline-light mr-3" id="btnDeny">
              Deny
            </button>
            <button type="button" class="btn btn-light" id="btnAccept">
              Accept
            </button>
          </div>
        </div>
      </div>
    </div>
    <script>
      var fn = function () {
        document.cookie = "cookie_consent=true";
        document.getElementById('cookie-consent-container').hidden = true;
      };
      document.getElementById('btnAccept').onclick = fn;
    </script>
    {% endif %}
    {% endblock %}

    {% endblock %}
    

    {% block scripts%}
    <!-- Core -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/popper.min.js')}}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
    <!-- Local scripts -->
    <script type="text/javascript" src="{{url_for('static',filename='js/scripts.js')}}"></script>
    
    <script type="text/javascript">
/*       (function () {
        window.onload = function () {
          $('.preloader').fadeOut('fast');        
        }
      })(); */
      function preloaderFn() {
          $('.preloader').fadeOut('fast'); 
      };
      window.addEventListener("load", preloaderClose, true); function preloaderClose() {
          preloaderFn();
        };
    </script>

    <!-- Vendor JS -->
    <script type="text/javascript" src="{{url_for('static',filename='js/src/on-screen.umd.min.js')}}"></script> 
    <!-- Slider -->
    <script type="text/javascript" src="{{url_for('static',filename='js/src/nouislider.min.js')}}"></script>
    <!-- Smooth scroll -->
    <script type="text/javascript" src="{{url_for('static',filename='js/src/smooth-scroll.polyfills.min.js')}}"></script>
    <!-- Charts -->
<!--     <script type="text/javascript" src="{{url_for('static',filename='js/src/chartist.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/src/chartist-plugin-tooltip.min.js')}}"></script> -->
    <!-- Datepicker -->
    <script type="text/javascript" src="{{url_for('static',filename='js/src/datepicker.min.js')}}"></script>
    <!-- Sweet Alerts 2 -->
    <script type="text/javascript" src="{{url_for('static',filename='js/src/sweetalert2.all.min.js')}}"></script>
    <!-- Moment JS -->
<!--     <script type="text/javascript" src="{{url_for('static',filename='js/src/moment.js')}}"></script> -->
    <!-- Notyf -->
    <script type="text/javascript" src="{{url_for('static',filename='js/src/notyf.min.js')}}"></script>
    <!-- Simplebar -->
    <script type="text/javascript" src="{{url_for('static',filename='js/src/simplebar.min.js')}}"></script>

    <!-- Volt JS -->
    <script type="text/javascript" src="{{url_for('static',filename='js/src/volt.js')}}"></script>

    <!-- Schema genator -->
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebTool",
      "headline": "IntegraAPP",
      "image": [
        "https://example.com/photos/1x1/photo.jpg",
        "https://example.com/photos/4x3/photo.jpg",
        "https://example.com/photos/16x9/photo.jpg"
       ],
      "datePublished": "2022-05-26T08:00:00+08:00",
      "dateModified": "2015-09-22T09:20:00+08:00",
      "author": [{
          "@type": "Person",
          "name": "Mateo Barrera",
          "url": "http://example.com/profile/janedoe123"
        },{
          "@type": "Person",
          "name": "Alex Pinchao",
          "url": "http://example.com/profile/johndoe123"
      }]
    }
    </script>
    


    {% endblock %}
  {% endblock %}
  </body>

</html>